<div class="outside">
	<div class="side">
		<div class="d-flex">
			<ul>
				<li><a routerLink="all"><fa-icon [icon]="faTableList"></fa-icon></a></li>
				<li><a routerLink="search"><fa-icon [icon]="faSearch"></fa-icon></a></li>
				<li><a routerLink="programs"><fa-icon [icon]="faGraduationCap"></fa-icon></a></li>
				<li><a routerLink="intake"><fa-icon [icon]="faHashtag"></fa-icon></a></li>
				<li><a routerLink="add"><fa-icon [icon]="faAdd"></fa-icon></a></li>
				<li><a routerLink="settings"><fa-icon [icon]="faGear"></fa-icon></a></li>
			</ul>
		</div>
	</div>
</div>